body {
  font-family: Helvetica;
  background-color: black;
}

.landing{
  height: 70vh;
  background-size: cover;
  margin-bottom: 20px;
}

.lr-logo{
  height:60px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
}
