body {
  font-family: Helvetica;
  color: white;
  background-color: black;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  .episodes {
    width: 30%;
  }
  .active-episode {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}

.landing{
  height: 70vh;
  background-size: cover;
  margin-bottom: 20px;
}

.lr-logo{
  height:60px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
